
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    align-items: center;
}

.contenedor{
    background-color: blueviolet;
    align-items: center;
    text-align: center;
}

.header{
    background:linear-gradient(45deg,rgb(237, 100, 189),rgb(204, 217, 241));
    text-align: center;
    border-color: rgb(237, 100, 114);
    border-radius: 3px;
    border-width: 0.4em;
    border-style: solid;
    font-size: 2vw;
    color: white;
}

.forms{
    height: 60%;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding:2% 3%;
    background:linear-gradient(45deg,rgba(227, 136, 255, 0.362),rgba(243, 187, 234, 0.362));
    border-radius: 0.4em;
    width:25%;
    text-align: center;
    align-items: center;
    margin-left: 600px;
}
.forms div{
    margin: 6% 0%;
}

input{
    margin: 3% 0%;
}
select{
    width: 100%;
}

.submit{
    border-style: line;
    border-color: lightblue;
    width: 50%;
    margin: 1% 25%;
    border-radius: 0.8em;
    background:linear-gradient(45deg,rgba(227, 136, 255, 0.362),rgba(243, 187, 234, 0.362));
    font-weight: 600;
    padding:0.3em;
    color:black; 
}